= haml: inc/header.haml
  .main-section
    .block
      .block_head
        %h2 Add Point
      .block_content
        %form{:id=> 'add_point'}
          %p
            %label Title:
            %br/
            %input.text{:type => 'string', :name => 'title'}
          %p
            %label Lat:
            %br/
            %input.text{:type => 'string', :name => 'lat'}
          %p
            %label Long:
            %br/
            %input.text{:type => 'string', :name => 'long'}
          %p
            %label Category:
            %br/
            %select{:name => 'category'}
              - @categories.each do |category|
                %option{:value => category.name} #{category.name}
          %p
            %label Description:
            %br/
            %input.text{:type => 'string', :name => 'desc'}
          %p
            %label Condition:
            %br/
            %input.text{:type => 'string', :name => 'condition'}
          %p
            %label Trail:
            %br/
            %input.text{:type => 'string', :name => 'trail'}
          %input.text{:type => 'hidden', :name => 'connections'}
          %p
            %a.button.button-gray{:id => "submit_point", :href => "#"} Submit
= haml: inc/footer.haml          