= haml: inc/header.haml
  .main-section
    .block
      .block_head
        %h2 Add Condition
      .block_content
        %form{:action => '/condition/add', :enctype => 'multipart/form-data', :method => 'POST'}
          %p
            %label Condition:
            %br/
            %input.text{:type => 'string', :name => 'condition'}
          %p
            %button.button.button-gray{:type => "submit"} Submit
= haml: inc/footer.haml