= haml: inc/header.haml
  .main-section
    .block
      .block_head
        %h2 Add Category
      .block_content
        %form{:action => '/category/add', :enctype => 'multipart/form-data', :method => 'POST'}
          %p
            %label Category:
            %br/
            %input.text{:type => 'string', :name => 'category'}
          %p
            %button.button.button-gray{:type => "submit"} Submit
= haml: inc/footer.haml