.main-section
  .block
    .block-head
      %h2 Add Trail
    .block-content
      %form{:action => '/trail/add', :enctype => 'multipart/form-data', :method => 'POST'}
        %p
          %label Trail Name:
          %br/
          %input.text{:type => 'string', :name => 'trail'}
        %p
          Disabled for demo.