= haml: inc/header.haml
  .main-section
    .block
      .block_head
        %h2 Edit Point
      .block_content
        %form{:id=> 'edit_point'}
          %p
            %label Title:
            %br/
            %input.text{:type => 'string', :name => 'title', :value => @point.title}
          %p
            %label Lat:
            %br/
            %input.text{:type => 'string', :name => 'lat', :value => @point.lat.to_s}
          %p
            %label Long:
            %br/
            %input.text{:type => 'string', :name => 'long', :value => @point.long.to_s}
          %p
            %label Category:
            %br/
            %input.text{:type => 'string', :name => 'category', :value => @point.category.name}
          %p
            %label Description:
            %br/
            %input.text{:type => 'string', :name => 'desc', :value => @point.desc}
          %p
            %label Condition:
            %br/
            %input.text{:type => 'string', :name => 'condition', :value => @point.condition.desc}
          %p
            %label Trail:
            %br/
            %input.text{:type => 'string', :name => 'trail', :value => @point.trail.name}
          %p
            %a.button.button-gray{:id => "submit_edit", :href => "#{@point.trail.id}"} Submit
= haml: inc/footer.haml