.block.small.center.login
  .block_head
    %img{:alt => "LC Trails", :src => "images/icon.png"}/
    %h2
      LC Trails
      %strong - Login
  .block_content
    %form{:action => "/user/login", :method => "post"}
      %p
        %label Username:
        %br/
        %input#username.text{:name => "user", :placeholder => "Username", :required => "required", :type => "text", :value => ""}/
      %p
        %label Password:
        %br/
        %input#password.text{:name => "password", :placeholder => "Password", :required => "required", :type => "password", :value => ""}/
      %p
        %button.button.button-gray.fr{:type => "submit", :style => "margin-right:2px;"} Login
        %input#rememberme.checkbox{:checked => "checked", :type => "checkbox"}/
        %label{:for => "rememberme", :disabled => "true"} Remember me
