!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title LC Trails - Admin
      %link{:href => "../css/reset.css", :media => "screen", :rel => "stylesheet"}/
      %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
      /[if IE]
        %script{:src => "../js/html5.js"}
        %script{:src => "../js/PIE.js"}
        %script{:src => "../js/IE9.js"}
      %script{:src => "../js/jquery.tools.min.js"}
      %script{:src => "../js/jquery.ui.min.js"}
      %script{:src => "../js/global.js"}
  %body 
    #bg
      .wrapper
        #header
          %h1
            %img{:alt => "LC Trails", :src => "../images/icon.png"}/
            %a{:href => "/trails"} LC Trails
          %ul#nav
            %li
              %a{:href => "/trails"} Trails
              %ul
                %li
                  %a{:href => "/trails"} List trails
                %li
                  %a{:href => "/trail/add"} Add new trail
            %li
              %a{:href => "/problems"} Problems
            %li
              %a{:href => "/users"} Users
          %p.user
            %a.logout{:href => "/"} Logout
        
        = yield
        
        #footer
          %p.right
            powered by
            %a{:href => "http://github.com/Mobile-Trail-Mapping/"} Mobile Trail Mapping
