%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title Problems
      %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1 Trails
    %br
    - @trails.sort { |x, y| x.name <=> y.name }.each do |trail|
      %h3
        %a{:href => "/trails/#{trail.name}"}
          ="#{trail.name.capitalize}"
      %br
