.main-section
  .block.small.left
    .block-head
      %h2.trail-name #{@trail.name.capitalize} 
    .block-content
      %ul#listing.list-view.clearfix
        - @trail.points.each do |point| #- point.photos.each do |photo|
          - if point.category.name != "Trail"
            %li.clearfix
              .tools
                %a.button.button-gray.delete{:href => "/point/delete/#{point.id}"} 
                  %span.bin
                %a.button.button-gray{:href => "#"} 
                  %span.pencil
              %a.more{:href => "#point_#{point.id}"} >
              %a.name{:href => "#"} #{point.title}
  .preview-pane.small.right.omega
    .help
      .message.info
        %h3 Helpful Tips
        %p Click on the trail points located on the left to get more information about them, including pictures and coordinates. 
    .preview
      .desc{:style => "display: block !important"}
        %span.close
          %img{:src => "../images/cancel-white.png"}
        .trail-content
          .desc
            %h1 Title
            %span Lat, Long
            .content
              %p Desc