.block
  .block-head
    %h2 
      Trails
      %button.button.button-gray.fr{:type => "submit"} 
        %span.add
        New trail
  #trails.block-content
    - @photos.keys.each do |trail|
      .trail
        %a{:href => "/trails/#{trail}"}
          .trail-slideshow
            - @photos[trail].each do |image|
              %img{:src => "#{image.pic.url}"}
          .trail-desc
            %div
              = "#{trail.capitalize}"            