!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title LC Admin - #{@trail.name.capitalize} Points
      %link{:href => "../css/reset.css", :media => "screen", :rel => "stylesheet"}/
      %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
      /[if lt IE 9]
        %script{:src => "../js/html5.js"}
        %script{:src => "../js/PIE.js"}
      %script{:src => "../js/jquery.tools.min.js"}
      %script{:src => "../js/jquery.ui.min.js"}
      /[if lte IE 9]
        %link{:href => "../css/ie.css", :media => "screen", :rel => "stylesheet"}/
        %script{:src => "../js/ie.js"}
      %script{:src => "../js/global.js"}
  %body 
    #bg
      .wrapper
        #header
          %h1
            %img{:alt => "LC Trails", :src => "../images/icon.png"}/
            %a{:href => "#"} LC Trails
          %ul#nav
            %li
              %a{:href => "#"} Dashboard
            %li
              %a{:href => "#"} Trails
              %ul
                %li
                  %a{:href => "#"} List trails
                %li
                  %a{:href => "#"} Add trail
            %li
              %a{:href => "#"} Points
              %ul
                %li
                  %a{:href => "#"} List points
                %li
                  %a{:href => "#"} Add point
            %li
              %a{:href => "#"} Problems
            %li
              %a{:href => "#"} Users
          %p.user
            Hello,
            %a{:href => "#"} user
            %a{:href => "index.html", :style => "padding-left: 20px;"} Logout
        / #header ends
        .main-section
          .block.small.left
            .block_head
              %h2 #{@trail.name.capitalize} 
            .block_content
              %ul#contacts.listing.list-view.clearfix
                - @trail.points.each do |point| #- point.photos.each do |photo|
                  - if point.category.name != "Trail"
                    %li.contact.clearfix
                      %a.more{:href => "janeroe.html"} »
                      %a.name{:href => "#"} #{point.title}
          .preview-pane.small.right.omega
            .content
              .message.info
                %h3 Helpful Tips
                %p Click 
            .preview
          /- @trail.points.each do |point|
            
        #footer
          %p.right
            powered by
            %a{:href => "#"} Mobile Trail Mapping