!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title LC Trails - Admin
      %link{:href => "../css/reset.css", :media => "screen", :rel => "stylesheet"}/
      %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
      /[if lt IE 9]
        %script{:src => "../js/html5.js"}
        %script{:src => "../js/PIE.js"}
      %script{:src => "../js/jquery.tools.min.js"}
      %script{:src => "../js/jquery.ui.min.js"}
      /[if lte IE 9]
        %link{:href => "../css/ie.css", :media => "screen", :rel => "stylesheet"}/
        %script{:src => "../js/ie.js"}
      %script{:src => "../js/global.js"}
  %body 
    #bg
      .wrapper
        #header
          %h1
            %img{:alt => "LC Trails", :src => "../images/icon.png"}/
            %a{:href => "/"} LC Trails
          %ul#nav
            %li
              %a{:href => "#"} Dashboard
            %li
              %a{:href => "/trails"} Trails
              %ul
                %li
                  %a{:href => "/trails"} List trails
                %li
                  %a{:href => "/trails/add"} Add trail
            %li
              %a{:href => "#"} Points
              %ul
                %li
                  %a{:href => "/point/add"} Add point
            %li
              %a{:href => "/problems"} Problems
            %li
              %a{:href => "/users"} Users
          %p.user
            %a.logout{:href => "/"} Logout
        / #header ends
        .block
          .block_head
            %h2 Trails
          .block_content
            - @photos.keys.each do |trail|
              %h3
                %a{:href => "/trails/#{trail}"}
                  = "#{trail.capitalize}"
              /- @photos[trail].each do |image|
              /  %img{:src => "#{image.pic.url}"}

        / .block.small.right ends
        #footer
          %p.right
            powered by
            %a{:href => "#"} Mobile Trail Mapping
