.block
  .block-head
    %h2 Trails
  .block-content
    - @photos.keys.each do |trail|
      %div
        %a{:href => "/trails/#{trail}"}
          = "#{trail.capitalize}"
        .trail-slideshow
        - @photos[trail].each do |image|
          %img{:src => "#{image.pic.url}"}