.block
  .block-head
    %h2 Trails
  #trails.block-content
    - @photos.keys.each do |trail|
      .trail
        %a{:href => "/trails/#{trail}"}
          .trail-slideshow
            - @photos[trail].each do |image|
              %img{:src => "#{image.pic.url}"}
            .trail-desc
              %div
                = "#{trail.capitalize}"            